
<div class="container" style="margin-left: 0%; padding-left: 0%; margin-right: 0%; padding-right: 0%; width: 100%;">
  <div class="row" style="margin-left: 0%; margin-right: 0%; padding-right: 0%;">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div style="padding-top: 10%; width: 100%; margin-left: 0%; margin-right: 0%; position: absolute; top: 0; z-index: 100;" class="container-fluid bg-2 text-center col-sm-12">
      <h3>Let us get to know you!</h3>
      <p>Please fill in your details in the respective columns and embark on an amazing journey with us!!</p>
    </div>
    <div class="col-sm-12 container-fluid bg-3 text-left" style="margin-top: 8%;">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.institution.$valid && submitted,
                                            'has-error': form.institution.$invalid && submitted }">
          <label>Name of Institution you belong to:</label>

          <input type="text" name="institution" class="form-control" ng-model="user.institution"
                 required/>
          <p class="help-block" ng-show="form.institution.$error.required && submitted">
            A name of institution is required.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && submitted,
                                            'has-error': form.phone.$invalid && submitted }">
          <label>Phone Number:</label>

          <input placeholder="Enter phone number." type="phone" name="phone" class="form-control" ng-model="user.phone" ng-pattern="vm.regEx"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.phone.$error.pattern && submitted">
            <small>Phone no. should be 10 digits.</small>
          </p>
          <p class="help-block" ng-show="form.phone.$error.required && submitted">
            <small>What's your phone number?</small>
          </p>
          <p class="help-block" ng-show="form.phone.$error.mongoose">
            <small>{{ errors.phone }}</small>
          </p>
        </div>
        <p class="help-block" style="color: red;"> {{ vm.message }} </p>
        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-lg btn-login" href="/login">
            Login
          </a>
        </div>

        <hr/>
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>

